ahocorapy==1.6.2
asttokens==3.0.1
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
DateTime==6.0
debugpy==1.8.20
decorator==5.2.1
docutils==0.22.4
executing==2.2.1
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools==4.61.1
future==1.0.0
graphviz==0.21
greenlet==3.3.0
id==1.6.1
idna==3.11
ipykernel==6.31.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jaconv==0.4.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jedi==0.19.2
Jinja2==3.1.6
jupyter_client==8.8.0
jupyter_core==5.9.1
keyring==25.7.0
kiwisolver==1.4.9
lute==1.0.0
lute3==3.10.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplot==0.1.9
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
more-itertools==10.8.0
natto-py==1.0.1
nest-asyncio==1.6.0
networkx==3.6.1
nh3==0.3.3
numpy==2.4.2
openepub==0.0.9
packaging==26.0
pandas==2.3.3
parso==0.8.5
pillow==12.1.0
platformdirs==3.11.0
playwright==1.58.0
prompt_toolkit==3.0.52
psutil==7.2.2
pure_eval==0.2.3
pycparser==2.23
pyee==13.0.1
Pygments==2.19.2
pyloco==0.0.139
pyparsing==3.3.1
pypdf==6.5.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.3
pyzmq==27.1.0
readme_renderer==44.0
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.3.3
scikit-fuzzy==0.5.0
scipy==1.17.0
SimpleWebSocketServer==0.1.2
six==1.17.0
soupsieve==2.8.1
spyder-kernels==3.1.3
SQLAlchemy==2.0.45
stack-data==0.6.3
subtitle-parser==2.0.1
toml==0.10.2
tornado==6.5.4
traitlets==5.14.3
twine==6.2.0
typing==3.7.4.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
ushlex==0.99.1
waitress==2.1.2
wcwidth==0.6.0
websocket-client==1.9.0
Werkzeug==3.1.4
WTForms==3.2.1
xmltodict==0.15.1
zope.interface==8.2
